{% extends '_layout' %}
{% block main %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/home-bg-new.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Crafty Blog</h1>
              <span class="subheading">On and about Craft CMS 3</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% for entry in craft.entries.section('blog').limit(10).all() %}
          <div class="post-preview">
            <a href="{{ entry.url }}">
              <h2 class="post-title">
                {{ entry.title }}
              </h2>
            </a>

              <h3 class="post-subtitle">
                {{ entry.blogIntroduction }}
              </h3>
              {{ entry.blogBody }}
            <p class="post-meta">Written by
              <a href="#">{{ entry.author }}</a>
              on {{ entry.postDate | date('M d, Y') }} </p>
          </div>
          <hr>
          {% endfor %}
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>
{% endblock %}